body{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('kemi restaurant.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    opacity: 0.4;
    z-index: -1;
}
   .navigation{
    list-style-type: none;
    display: flex;
    gap: 15rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
    border-radius: 10px;}
    
    a{
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        text-transform: uppercase;
        
    }
.KEMI{
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
    
}
.form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.button{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1em;
    ;
}
   .log{
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    font-size: 2em;
    text-transform: uppercase;
}
.team{
    text-align: center;
    margin-top: 2em;
 }
 .icons{
    background-color: rgba(200, 100, 0, 0.5);
    padding: 1em;
    box-sizing: border-box ;
    border-radius: 10px;
    
    display: flex;
    justify-content: left;
    gap: 2em;
 }


   